<h1>Minhas Listas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listas.each do |list| %>
      <tr>
        <td><%= link_to list.name, list %></td>
        <td><%= list.public ? t("Publica") : t("Privada") %></td>
        <td><%= link_to 'Editar', edit_list_path(list) %></td>
        <td><%= link_to 'Apagar', list, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h1>Favoritas</h1>
<% @favs.each do |fav| %>
      <tr>
        <td><%= link_to fav.name, fav %></td>
      </tr>
  <% end %>
<br><br>
<%= link_to 'Listas Públicas',  {:controller => 'lists', :action => 'publicas'} %>
<br>
<%= link_to 'Nova Lista', new_list_path %>
