<p>
  <h1><%= @list.name %></h1>
</p>

  <strong>Status:</strong>
  <%= @list.public ? t("Pública") : t("Privada") %>
  <br><br><%= link_to 'Editar Lista', edit_list_path(@list) %>
  <br><%= link_to 'Apagar', @list, method: :delete, data: { confirm: 'Você tem certeza?' } %>
<br><br>
<table>
	<thead>
		<tr>
			<th> Tarefa </th>
		</tr>
	</thead>
	<tbody>
		<% @abertas.each do |task| %>
	    	<tr>
	        	<td><%= task.text %></td>
	        	<td><%= link_to 'Editar Tarefa', edit_task_path(task) %></td>
	        	<td><%= link_to 'Apagar', task, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
	    	</tr>
	  	<% end %>
	  	<% @fechadas.each do |task| %>
	    	<tr>
	        	<td><del><%= task.text %></del></td>
	        	<td><%= link_to 'Editar Tarefa', edit_task_path(task) %></td>
	        	<td><%= link_to 'Apagar', task, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
	    	</tr>
	  	<% end %>
  </tbody>	
</table>

<%= link_to 'Nova Tarefa', new_task_path(:list=> @list) %>
<br>
<%= link_to 'Voltar', lists_path %>