<p>
  <h1><%= @list.name %></h1>
</p>

  <strong>Status:</strong>
  <%= @list.public ? t("Pública") : t("Privada") %>
  <br><br><%= link_to 'Editar Lista', edit_list_path(@list) %>
<br><br>
<table>
	<thead>
		<tr>
			<th> Tarefa </th>
			<th> Aberta </th>
		</tr>
	</thead>
	<tbody>
		<% @tasks.each do |task| %>
	    	<tr>
	        	<td><%= task.text %></td>
	        	<td><%= task.active %></td>
	        	<td><%= link_to 'Editar Tarefa', edit_task_path(task) %></td>
	    	</tr>
	  	<% end %>
  </tbody>	
</table>


<%= link_to 'Back', lists_path %>