<h1><%= params[:name] %></h1>

<table>
	<thead>
		<tr>
			<th>Tarefas</th>
		</tr>
	</thead>
	<tbody>
		<% @abertas.each do |task| %>
	    	<tr>
	        	<td><%= task.text %></td>
	    	</tr>
	  	<% end %>
	  	<% @fechadas.each do |task| %>
	    	<tr>
	        	<td><del><%= task.text %></del></td>
	    	</tr>
	  	<% end %>
	</tbody>
</table>

<%= render 'form', favorite: @favorite %>

<%= link_to 'Voltar',  {:controller => 'lists', :action => 'publicas'} %>
