<h1><%= params[:name] %></h1>

<table>
	<thead>
		<tr>
			<th>Tarefas</th>
		</tr>
	</thead>
	<% @exibe.each do |c| %>
		<tbody>
	     	<tr>
		        <td><%= c.text %></td>
		        <td><%= c.active %></td>
			</tr>
		</tbody>
	<% end %>
</table>

<%= render 'form', favorite: @favorite %>

<%= link_to 'Back', favorites_path %>
