<p>
<% @lista.each do |list| %>
  <h1><%= list.name %></h1>
</p>

<%= link_to 'Apagar', @favorite, method: :delete, data: { confirm: 'Você tem certeza?' } %> 
<br><br>
<table>
	<thead>
		<tr>
			<th> Tarefas </th>
		</tr>
	</thead>
	<tbody>
		<% @abertas.each do |task| %>
	    	<tr>
	        	<td><%= task.text %></td>
	    	</tr>
	  	<% end %>
	  	<% @fechadas.each do |task| %>
	    	<tr>
	        	<td><del><%= task.text %></del></td>
	    	</tr>
	  	<% end %>
  </tbody>	
</table>
<% end %>
<br>
<%= link_to 'Voltar', lists_path %>

